<?xml version="1.0" encoding="utf-8" ?>
<configuration>
		<appSettings>
			<add key="Trigger" value="0"/>
			<!--0 to display Triangle , 1 to display Mirror Triangle , 2 to display Both-->
			<add key="NoOfLines" value="8"/>
			<!--Number of lines to print *-->
		</appSettings>	
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>